/* Add CSS Styling */
.blackButton,
.yellowButton {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.blackButton {
    background-color: #000000;
    color: white;
}

.yellowButton {
    background-color: #ffff00;
}